<!-- Header Section -->
    <section>
        <!-- Navigation Section -->
        <header id="header">
            <div class="header-content clearfix">
               
                <a class="logo" href="http://www.ierealty.com/" target="_blank"><img src="~/Content/images/reality.png" alt="IERealty" title="IERealty" width="120" height="50"/></a>
                <nav class="navigation" role="navigation">
                    <ul class="primary-nav">
                        <li>
                            @Html.ActionLink("Home","Index","Booking")                            
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Navigation Section -->
    </section>
    <!-- Header Section -->